<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.MvcContextHandler, Spring.Web.Mvc4" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <appSettings>
	<!-- 跨域配置 -->
	<add key="cors:allowedMethods" value="*" />
	<add key="cors:allowedOrigin" value="*" />
	<add key="cors:allowedHeaders" value="*" />
	<!-- Redis连接(按需更改) -->
	<add key="RedisConnect" value="127.0.0.1:6379" />
	<!-- Token加密私钥 -->
	<add key="TokenPrivateKey" value="Gz6VxnGqCPjacYS53cpZGQwYis1ejryqNfstnlZoPzF089Gb82EsIEBAFbXvdNL0ygrJ9Oyvp8FuqHLO2C7Wkg==" />
	<!-- Token过期时间（天）-->
	<add key="TokenExpirationTime" value="7" />
	<!-- 主文件服务器(按需更改) -->
	<add key="MainFileServer" value="http://localhost:8001/" />
	<!-- 备用文件服务器(按需更改) -->
	<add key="BackupFileServer" value="http://localhost:8002/" />
	<!-- 磁盘存储文件路径(按需更改) -->
	<add key="DiskStoragePath" value="D:\IISPublish\huhu\huhu.byteimg" />
	<!-- 用户默认头像存放文件夹 -->
	<!--<add key="DefaultUserProfilePicture" value="img/user-avatar/5070639578_300x300.jpg" />-->
	<add key="UserDefaultAvatar" value="passport/default" />
	<!-- 手机验证码支持设备 -->
	<add key="SMSUpFacility" value="web,android" />
    <!-- 手机验证码有效时间(分钟) -->
	<add key="SMSExpires" value="30" />
	<!-- 邮箱用户名 -->
	<add key="EmailUserName" value="2673983866@qq.com" />
	<!-- 邮箱授权码 -->
	<add key="EmailAuthCode" value="vatkghfdepkceahi" />
    <!-- 邮箱验证码有效时间(分钟) -->
	<add key="EmailExpires" value="5" />
	<!-- 扫一扫二维码有效时间(秒) -->
	<add key="RichScanQRExpirationTime" value="180" />

	<!-- 头像图片尺寸(px) -->
	<add key="UserPicSize" value="300*300" />
	<!-- 头像图片存放文件夹路径 -->
	<add key="UserPicFolderPath" value="passport\userpic" />
	<!-- 原图图片尺寸 -->
	<add key="OriginalSize" value="none*none" />
	<!-- 原图图片存放文件夹路径 -->
	<add key="OriginalFolderPath" value="tos-cn-i-original" />
    <!-- 封面图片尺寸(px) -->
	<add key="CoverSize" value="240*160" />
	<!-- 封面图片存放文件夹路径 -->
	<add key="CoverFolderPath" value="tos-cn-i-cover" />
	<!-- 文字水印字体颜色(rgb) -->
	<add key="WaterMarkFontColor" value="255,255,255" />
	  
	<!-- 敏感词库路径 -->
	<add key="SensitivePath" value="D:\IISPublish\huhu\huhu.sensitive" />
	  
	  
  
	
  </appSettings>
  <spring>
    <context>
      <!--先后不能弄反顺序-->
      <resource uri="file://~/Config/dals.xml" />
      <resource uri="file://~/Config/services.xml" />
      <resource uri="file://~/Config/controllers.xml" />
    </context>
  </spring>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.EntityFramework, Version=8.0.18.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
      </provider>
    </providers>
  </entityFramework>
  <connectionStrings>
	<add name="huhuEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=12345;persistsecurityinfo=True;port=3308;database=huhu_v2&quot;" providerName="System.Data.EntityClient" />
	<add name="huhuLogEntities" connectionString="metadata=res://*/Log.csdl|res://*/Log.ssdl|res://*/Log.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=12345;persistsecurityinfo=True;port=3308;database=huhu.log&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
</configuration>