.suspension-panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	position: fixed;
	right: 2rem;
	bottom: 2rem;
	z-index: 999
}

@media (max-width:414px) {
	.suspension-panel {
		display: none
	}
}

.suspension-panel .btn {
	margin: 1rem 0 0;
	padding: 0;
	width: 3.33rem;
	height: 3.33rem;
	line-height: 1;
	color: #909090;
	background-color: #fff;
	border: 1px solid #f1f1f1;
	border-radius: 50%;
	box-shadow: 0 0 5px rgba(0, 0, 0, .05);
	cursor: pointer
}

.suspension-panel .btn:hover {
	box-shadow: 0 0 5px #ddd
}

.suspension-panel .to-top-btn {
	font-size: 1.6rem
}

.suspension-panel .meiqia-btn {
	font-size: 1.3rem;
	color: #007fff
}
