fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: .35em .625em .75em
}

legend {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal
}

.editor-panel::-webkit-scrollbar {
	width: 5px;
	height: 8px
}

.editor-panel::-webkit-scrollbar-track {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 2px
}

.editor-panel::-webkit-scrollbar-thumb {
	background-color: #c9cdd4;
	outline: none;
	border-radius: 2px
}

#huhu-web-editor {
	display: block
}

.xitu-btn {
	font-size: 14px;
	border-radius: 36px;
	cursor: pointer;
	font-weight: 700;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.xitu-btn:focus {
	outline: none
}

.xitu-btn:hover {
	background-color: #388eff
}

.xitu-btn-outline {
	min-width: 76px;
	color: #1d7dfa;
	background-color: #fff
}

.xitu-btn-outline:hover {
	color: #388eff;
	background-color: #fff
}

input,
textarea {
	outline: none;
	border: 1px solid #ccc
}

input[type=number]::-webkit-inner-spin-button {
	display: none
}

input:disabled {
	opacity: .5
}

.cm-s-default.CodeMirror {
	background: #f8f9fa
}

.cm-s-default .cm-header {
	color: #1ba2f0;
	font-weight: 400
}

.cm-s-default .cm-variable-2 {
	color: #000
}

.cm-s-default .cm-comment {
	color: #009e9d
}

.cm-s-default .cm-link,
.cm-s-default .cm-quote,
.cm-s-default .cm-strong {
	color: #fd7741
}

.cm-s-default .cm-url {
	color: #bb51b8
}

.CodeMirror {
	font-family: Monaco, Menlo, Ubuntu Mono, Consolas, source-code-pro, monospace;
	font-size: 1.167rem;
	line-height: 1.7
}

.info-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: .3rem 0;
	font-size: 1.2rem;
	color: #909090;
	cursor: default
}

.menu .menu-list {
	position: absolute;
	top: 100%;
	left: 0;
	margin: 0;
	padding: .5rem 0;
	font-size: 1rem;
	white-space: nowrap;
	background-color: #fff;
	border-radius: 2px;
	border: 1px solid #f1f1f1;
	-webkit-box-shadow: 0 1px 2px 1px hsla(0, 0%, 94.9%, .5);
	box-shadow: 0 1px 2px 1px hsla(0, 0%, 94.9%, .5);
	list-style: none
}

.menu .menu-list .item {
	padding: .5rem 2rem
}

.menu .menu-list .item:hover {
	background-color: #f8f9fa
}

.icon {
	margin-right: 0.7rem;
	width: 1.8rem
}

.list {
	margin: 0;
	padding: 0;
	list-style: none
}

.tag-select-add-margin {
	border-radius: 4px
}

.tag-select-add-margin .byte-select-dropdown__wrap .byte-select-option--hover {
	background-color: #e8f3ff
}

.select-plus .byte-select__tag>span {
	color: #1d7dfa
}

.select-plus .byte-select__tag {
	background-color: #e8f3ff
}

.select-plus .byte-select__tag .byte-icon {
	color: #1d7dfa
}

.tag-input {
	width: 100%
}

.tag-number-container {
	position: absolute;
	top: 0;
	height: 36px;
	background-color: #fafafa;
	width: 95%;
	line-height: 36px;
	padding-left: 16px;
	color: #86909c;
	margin-bottom: 2px
}

.tag-number-container .tag-number {
	font-weight: bolder
}

.byte-select-dropdown__wrap::-webkit-scrollbar {
	width: 4px;
	height: 5px
}

.byte-select-dropdown__wrap::-webkit-scrollbar-track {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 2px
}

.byte-select-dropdown__wrap::-webkit-scrollbar-thumb {
	background-color: #c9cdd4;
	outline: none;
	border-radius: 2px
}

.button-slot img{
	width: 126px;
    height: 20px;
}

.coverselector_container .select-btn {
	width: 160px;
	height: 86px;
	background-color: #fafafa;
	border: 1px dashed #e5e6eb;
	margin-bottom: 16px
}

.coverselector_container .select-btn .button-slot {
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap
}

.coverselector_container .select-btn .button-slot .upload {
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	color: #86909c;
	margin-top: 10px
}

.coverselector_container .select-btn .button-slot .addvice {
	color: #86909c;
	font-size: 12px;
	line-height: 20px
}

.coverselector_container .preview-box {
	position: relative;
	width: 156px;
	height: 92px;
	overflow: hidden
}

.coverselector_container .preview-box .preview-image {
	width: 100%;
	height: 100%;
	border-radius: 3px;
	object-fit: cover
}

.coverselector_container .preview-box .delete-btn {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}

.coverselector_container .preview-box .delete-btn svg{
	transition: all 0.2s;
}

.coverselector_container .preview-box .delete-btn:hover svg{
	-moz-transform:rotate(18deg); 
	-webkit-transform:rotate(180deg);
	transform:rotate(180deg);
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

span.byte-select__tag {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

span.byte-select__tag .byte-icon {
	-webkit-box-flex: 0;
	-ms-flex: none;
	flex: none
}

.byte-select__input {
	padding: 0
}

.publish-popup{
	position: relative;
}

.editor-panel,
.publish-popup {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.editor-panel {
	position: absolute;
	margin: 1.2rem -3rem 0 0;
	top: 100%;
	right: -50%;
	width: 500px;
	height: 495px;
	white-space: nowrap;
	color: #909090;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 12px;
	-webkit-box-shadow: 0 1px 2px #f1f1f1;
	box-shadow: 0 1px 2px #f1f1f1;
	cursor: default;
	z-index: 20
}

.editor-panel:before {
	content: "";
	position: absolute;
	margin-left: -.5rem;
	top: -.6rem;
	right: 7.2rem;
	width: 1rem;
	height: 1rem;
	background-color: #fff;
	border: 1px solid #ddd;
	border-right: none;
	border-bottom: none;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg)
}

.editor-panel .panel-title {
	padding: 18px 24px;
	font-size: 16px;
	font-weight: 700;
	color: #1d2129;
	border-bottom: 1px solid #e5e6eb
}

.editor-panel .form-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 26px 26px 26px 16px
}

.editor-panel .form-item .label {
	font-weight: 400;
	font-size: 14px;
	line-height: 32px;
	text-align: right;
	color: #1d2129;
	width: 85px;
	-webkit-box-flex: 0;
	-ms-flex: none;
	flex: none
}

.editor-panel .form-item .label.required:before,
.editor-panel .summary-box .label:before {
	content: "*";
	color: #f53f3f;
	margin-right: 6px;
	vertical-align: -2px
}

.editor-panel .form-item .label.category-label {
	line-height: 28px
}

.editor-panel .form-item .form-item-content {
	-webkit-box-flex: 1;
	-ms-flex: auto;
	flex: auto
}

.editor-panel .category-list {
	white-space: normal
}

.editor-panel .category-list .item {
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 10px;
	padding: 0 .7rem;
	font-size: 14px;
	line-height: 28px;
	width: 88px;
	height: 28px;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	border-radius: 2px;
	cursor: pointer;
	color: #86909c;
	background-color: #f4f5f5
}

.editor-panel .category-list .item:hover {
	background-color: #e5e6eb
}

.editor-panel .category-list .item.active {
	color: #1d7dfa;
	background-color: #e8f3ff
}

.editor-panel .summary-box {
	margin-bottom: 1.6rem
}

.editor-panel .summary-box .summary {
	position: relative
}

.editor-panel .summary-box .summary span {
	position: absolute;
	right: 8px;
	bottom: 8px;
	font-size: 12px;
	z-index: 9
}

.editor-panel .summary-box .summary .summary-textarea .byte-input__input,
.editor-panel .summary-box .summary .summary-textarea .byte-input__textarea {
	color: #1d2129;
	background: #fafafa
}

.editor-panel .summary-box .summary .summary-textarea .byte-input__input::-webkit-input-placeholder,
.editor-panel .summary-box .summary .summary-textarea .byte-input__textarea::-webkit-input-placeholder {
	color: #86909c
}

.editor-panel .summary-box .summary .summary-textarea .byte-input__input::-moz-placeholder,
.editor-panel .summary-box .summary .summary-textarea .byte-input__textarea::-moz-placeholder {
	color: #86909c
}

.editor-panel .summary-box .summary .summary-textarea .byte-input__input:-ms-input-placeholder,
.editor-panel .summary-box .summary .summary-textarea .byte-input__textarea:-ms-input-placeholder {
	color: #86909c
}

.editor-panel .summary-box .summary .summary-textarea .byte-input__input::-ms-input-placeholder,
.editor-panel .summary-box .summary .summary-textarea .byte-input__textarea::-ms-input-placeholder {
	color: #86909c
}

.editor-panel .summary-box .summary .summary-textarea .byte-input__input::placeholder,
.editor-panel .summary-box .summary .summary-textarea .byte-input__textarea::placeholder {
	color: #86909c
}

.editor-panel .summary-box .summary .summary-textarea .byte-input__input:hover,
.editor-panel .summary-box .summary .summary-textarea .byte-input__textarea:hover {
	background: #e5e6eb
}

.editor-panel .summary-box .summary .summary-textarea .byte-input__input:active,
.editor-panel .summary-box .summary .summary-textarea .byte-input__input:focus,
.editor-panel .summary-box .summary .summary-textarea .byte-input__textarea:active,
.editor-panel .summary-box .summary .summary-textarea .byte-input__textarea:focus {
	background: #fff
}

.editor-panel .summary-box .summary .summary-textarea textarea {
	resize: none
}

.footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.footer {
	border-top: 1px solid #e5e6eb;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 10px 20px 0px 20px
}

.footer .label {
	color: #a2a9b2
}

.footer .label.active {
	color: #007fff
}

.footer .label .label-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.footer .label .checkbox {
	display: none
}

.footer .label .checkbox+.label-content:before {
	content: " ";
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 2px;
	border-radius: 3px;
	background: #fff;
	text-indent: 2px;
	line-height: 1;
	border: 1px solid #a2a9b2
}

.footer .label .checkbox:checked+.label-content:before {
	content: "✓";
	color: #fff;
	background: #007fff;
	border-color: #007fff
}

.footer .btn-container {
	-webkit-box-flex: 1;
	-ms-flex: auto;
	flex: auto;
	text-align: right
}

.footer .btn {
	width: 64px;
	height: 32px;
	padding: 4px 0;
	cursor: pointer
}

.footer .btn:nth-child(2){
	margin-left: 16px;
}

.title-input {
	margin: 0;
	padding: 0;
	font-size: 24px;
	font-weight: 500;
	color: #1d2129;
	border: none;
	outline: none
}

.header {
	padding: 0 27px;
	height: 5.334rem;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	z-index: 100
}

.header,
.left-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.left-box {
	padding-right: 14px;
	cursor: pointer
}

.right-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end
}

.title-input {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	height: 100%
}

.title-input::-webkit-input-placeholder {
	color: #86909c;
	opacity: 1
}

.with-padding {
	margin-left: 8px;
	margin-right: 8px
}

.with-padding:last-child {
	padding-right: 0
}

.byte-icon {
	width: 1em;
	height: 1em;
	display: inline-block;
	vertical-align: middle;
	line-height: 1
}

.byte-icon svg {
	width: 100%;
	height: 100%;
	fill: currentColor;
	pointer-events: none
}

.byte-input {
	vertical-align: middle;
	border-collapse: separate;
	border-spacing: 0
}

.byte-input {
	position: relative;
	width: 100%;
	display: inline-block;
	font-size: 14px;
	line-height: 1.5
}

.byte-input__textarea {
	border: 1px solid #e6e8eb;
	border-radius: 2px;
	position: relative;
	width: 100%;
	display: inline-block;
	color: #282f38;
	line-height: 1.5;
	background-color: #fff;
	-webkit-transition: all .3s;
	transition: all .3s;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;
	height: 32px;
	padding: 0 12px;
	font-size: 14px;
	height: auto;
	padding: 6px 10px;
	vertical-align: top;
	-webkit-transition: all .3s, height 0s;
	transition: all .3s, height 0s;
	resize: vertical
}

.byte-input__textarea:hover {
	border-color: #3370ff
}

.byte-input__textarea--focused,
.byte-input__textarea:focus {
	border-color: #3370ff;
	-webkit-box-shadow: 0 0 0 2px #d6e8ff;
	box-shadow: 0 0 0 2px #d6e8ff
}

.byte-input__textarea--disabled,
.byte-input__textarea[disabled] {
	color: #c2c6cc;
	background-color: #f5f6f7;
	cursor: not-allowed;
	border-color: #e6e8eb
}

.byte-input__textarea--disabled:hover,
.byte-input__textarea[disabled]:hover {
	border-color: #e6e8eb
}

.byte-input__textarea--disabled>input,
.byte-input__textarea[disabled]>input {
	color: #c2c6cc
}

.byte-input__textarea--small {
	height: 24px;
	padding: 0 12px;
	font-size: 12px
}

.byte-input__textarea--large {
	height: 36px;
	padding: 0 12px;
	font-size: 14px
}

.byte-input__textarea--huge {
	height: 40px;
	padding: 0 12px;
	font-size: 16px
}

.byte-input__textarea:-ms-input-placeholder,
.byte-input__textarea::-ms-input-placeholder {
	color: #c2c6cc
}

.byte-input__textarea::-webkit-input-placeholder {
	color: #c2c6cc
}

.byte-input__textarea::-moz-placeholder {
	color: #c2c6cc
}

.byte-input__textarea:-ms-input-placeholder {
	color: #c2c6cc
}

.byte-input__textarea::-ms-input-placeholder {
	color: #c2c6cc
}

.byte-input__textarea::placeholder {
	color: #c2c6cc
}

.byte-input__textarea[disabled] {
	resize: none
}

.byte-select {
	cursor: pointer;
	width: 100%;
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	background: #fff;
	border-radius: 2px;
	border: 1px solid #e6e8eb;
	-webkit-transition: all .3s;
	transition: all .3s
}

.byte-select--small {
	font-size: 12px
}

.byte-select--small .byte-select__tag {
	margin-top: 2px
}

.byte-select--small .byte-select__input {
	height: 22px
}

.byte-select--small .byte-select__icon-wrap,
.byte-select--small .byte-select__placeholder {
	line-height: 22px
}

.byte-select--large .byte-select__input {
	height: 34px
}

.byte-select--large .byte-select__icon-wrap,
.byte-select--large .byte-select__placeholder {
	line-height: 34px
}

.byte-select--huge .byte-select__input {
	height: 38px;
	font-size: 16px
}

.byte-select--huge .byte-select__icon-wrap,
.byte-select--huge .byte-select__placeholder {
	font-size: 16px;
	line-height: 38px
}

.byte-select--simple .byte-select__input {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding: 0
}

.byte-select--focus {
	border-color: #3370ff;
	-webkit-box-shadow: 0 0 0 2px #d6e8ff;
	box-shadow: 0 0 0 2px #d6e8ff
}

.byte-select--hover {
	border: 1px solid #3370ff
}

.byte-select .byte-select__wrap {
	height: 100%;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0 12px
}

.byte-select .byte-select__wrap,
.byte-select__content-wrap {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.byte-select__content-wrap {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	overflow: hidden
}

.byte-select__input {
	border: none;
	outline: none;
	height: 30px;
	color: #282f38;
	cursor: pointer
}

.byte-select__input,
.byte-select__placeholder {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.byte-select__placeholder {
	line-height: 30px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #c2c6cc;
	text-align: left
}

.byte-select__icon-wrap {
	margin-right: -4px;
	line-height: 30px
}

.byte-select__icon-wrap .byte-icon {
	vertical-align: -1px
}

.byte-select__suffix {
	color: #c2c6cc;
	-webkit-transition: -webkit-transform .3s;
	transition: -webkit-transform .3s;
	transition: transform .3s;
	transition: transform .3s, -webkit-transform .3s;
	display: inline-block
}

.byte-select__suffix--up {
	-webkit-transform: rotate(0);
	transform: rotate(0)
}

.byte-select__suffix--down {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg)
}

.byte-select-dropdown {
	position: absolute;
	width: 335px;
	margin: 4px 1px;
	border: 1px solid #e6e8eb;
	border-radius: 2px;
	background-color: #fff;
	-webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .15);
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .15);
	z-index: 999;
}

.byte-select-dropdown .byte-select__empty-text {
	height: 70px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: inherit;
	color: #c2c6cc
}

.byte-select-dropdown__wrap {
	list-style: none;
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 220px;
	margin-top: 36px;
}

.byte-select-dropdown__wrap .byte-select-option {
	width: 100%;
	line-height: 20px;
	font-size: inherit;
	padding: 8px 0 8px 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer
}

.byte-select-dropdown__wrap .byte-select-option:hover {
	background-color: #e8f3ff
}

.byte-select-dropdown__wrap .byte-select-option--selected {
	color: #3370ff
}

.byte-select-dropdown__wrap .byte-select-option--disabled {
	color: #c2c6cc;
	cursor: not-allowed
}

.byte-select__input {
	padding: 0;
	width: 100%;
	height: 100%;
}

.status-text {
	font-size: 13px;
	white-space: nowrap;
	color: #c9cdd4;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.user-toggle-btn {
	width: 2.667rem;
	height: 2.667rem;
	border-radius: 50%;
	background-color: #eee;
	background-position: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	cursor: pointer;
}

.navigator {
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.menu.root-menu {
	margin-top: 1.3rem;
	top: 100%;
	right: -1.4rem;
	border-radius: 12px;
	z-index: 20;
}

.menu.root-menu:before {
    content: "";
    position: absolute;
    margin-left: -.5rem;
    top: -.6rem;
    right: 2.2rem;
    width: 1rem;
    height: 1rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-right: none;
    border-bottom: none;
    transform: rotate(45deg);
}

.menu {
	position: absolute;
	min-width: 11.6rem;
	font-size: 1.25rem;
	color: #909090;
	white-space: nowrap;
	background-color: #fff;
	border: 1px solid rgba(177, 180, 185, .45);
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
	box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}

.menu .item-group:not(:last-child) {
	border-bottom: 1px solid rgba(0, 0, 0, .04);
}

.menu .item-group {
	padding: .8rem 0;
}

.menu .item-group .item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	position: relative;
	padding: .8rem 1.2rem;
	color: #121212;
	text-decoration: none;
	cursor: pointer;
}

.menu .item-group .item:hover {
	background-color: hsla(0, 0%, 94.9%, .5)
}

.menu .item-group .item .icon {
	font-size: .8em;
}

.menu.sub-menu {
	top: 0;
	right: 100%;
	margin-right: .3rem;
	cursor: default;
	display: none;
}

.menu .item-group:not(:last-child) {
	border-bottom: 1px solid rgba(0, 0, 0, .04);
}

.main .bytemd {
    height: calc(100vh - 5.334rem);
    border: 0;
}

.byte-tag {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 12px;
    height: 22px;
    line-height: 19px;
    padding: 0 6px;
    border-width: 1px;
    border-radius: 2px;
    border-color: #e6e8eb;
    color: #282f38;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.byte-tag--border, .byte-tag--filling {
    border-width: 1px;
    border-style: solid;
}

.byte-select__tag {
    margin-right: 6px;
    background-color: #f0f1f2;
    border-color: #f0f1f2;
    overflow: hidden;
    margin-top: 4px;
    display: inline-block;
}

span.byte-select__tag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.byte-icon {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}

.byte-tag--close {
    font-size: 12px;
    margin-left: 8px;
}

/**/
@media (max-width: 980px){
	.header{
		padding: 0 10px;
	}
    .header.editor-header .title-input{
		width: 60%;
		padding-left: 5px;
		font-size: 18px;
	}
	.status-text,
	.xitu-btn-outline {
		display: none;
	}
}
@media (max-width: 500px){
	.editor-panel{
		width: 338px;
	}
	.editor-panel .form-item .label{
		width: 76px;
	}
	.editor-panel .category-list .item{
		width: 102px;
	}
	.editor-panel .title{
		font-size: 16px;
		padding: 10px 16px;
	}
	.xitu-btn{
		font-size:16px;
		color: #007fff;
		background-color: transparent;
	}
	.xitu-btn:hover {
		color: #0080ff;
		background-color: transparent
	}
}

.ant-upload.ant-upload-select-picture-card{
	width: 160px;
	height: 96px;
	border: 1px solid #e6e8eb;
}

.ant-select-arrow{
	display: none
}

.CodeMirror-vscrollbar::-webkit-scrollbar,
.bytemd-split .bytemd-preview::-webkit-scrollbar {
	width: 6px;
	height: 8px
}

.CodeMirror-vscrollbar::-webkit-scrollbar-track,
.bytemd-split .bytemd-preview::-webkit-scrollbar-track {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 2px
}

.CodeMirror-vscrollbar::-webkit-scrollbar-thumb,
.bytemd-split .bytemd-preview::-webkit-scrollbar-thumb {
	background-color: #c9cdd4;
	outline: none;
	border-radius: 2px
}