.download-guide {
    background: #fff;
    height: 100%;
    width: 100%;
    position: fixed;
    text-align: center;
    transition: opacity .6s;
    z-index: 4;
    background-image: url(../../assets/images/png/d.png);
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width:960px) {
	.download-guide {
		background-position: right;
	}
}

.download-guide-entirety {
    position: absolute;
    top: 22%;
    width: 100%;
}

.download-guide-header {
    width: 100%;
}

.download-guide-headerLogo {
    background-image: url('../../assets/images/logo/logo_icon.svg');
    background-size: cover;
    display: inline-block;
    height: 47px;
    vertical-align: top;
    width: 132px;
}

.download-guide-headerhint {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin-top: 22px;
}

.download-guide-body {
    top: 50%;
    left: 50%;
    width: 240px;
    margin: auto;
}

.download-guide-download-button {
    color: #fff;
    background: #06f;
    border-radius: 8px;
    box-shadow: 0 5px 15px 0 rgb(15 136 235 / 10%);
    font-size: 18px;
    font-weight: 700;
    line-height: 45px;
    margin-top: 36px;
    margin-bottom: 8px;
    width: 240px;
    height: 45px;
}

.download-guide-download-button {
    border: none;
    padding: 0;
	cursor: pointer;
}